@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

.customButton {
    width: 150px;
    height: 50px;
    font-family: 'Raleway', sans-serif, 600;
    color: rgb(255, 41, 130);
    background-color: rgb(245, 241, 243);
    border-radius: 15px;
    box-shadow: none;
    border: 2px solid rgb(255, 41, 130);
}

