
.proyectos {
    display:flex;
    flex-direction:column;
    flex: 1;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left:3rem;
    padding-right:3rem;
    font-family: 'Montserrat', sans-serif;
}

.proyectos h2 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 500;
}


@media only screen and (max-width:720px) {
    .proyectos h2 {
        font-size: 30px;
    }
}