.skills-cards{
    width: max-content;
    padding: 8px 16px;
    height:120px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:6px;
    border-radius:8px;
}

.skills-icon{
    font-size: 80px;
}

.skills-tecnologia{
    font-size: 18px;
}



@media only screen and (max-width: 720px){
    .skills-cards{
        width: max-content;
        height:100px;   
    }
    .skills-icon{
        font-size: 60px;
    }

}